{% extends 'security_layout.html.twig' %}

{% block title %}
    Create an account
{% endblock %}

{% block card_title %}
    Create an account
{% endblock %}

{% block content %}
        {{ form_start(form, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}
            <div>
                {{ form_label(form.email, null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                {{ form_errors(form.email, {'attr': {'class': 'mt-2 text-sm text-red-600 dark:text-red-500'}}) }}
            </div>
            <div>
                {{ form_label(form.password, null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                {{ form_errors(form.password, {'attr': {'class': 'mt-2 text-sm text-red-600 dark:text-red-500'}}) }}
            </div>
            <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Already have an account? <a href="{{ path('app_security_login') }}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
            </p>
        {{ form_end(form) }}
{% endblock %}